<template name="add_film">
	<div class="container">
		<div class="col-md-10">
			<h3>Dodaj film</h3>
			{{#autoForm collection="Films" id="addFilm" type="insert"}}
				<fieldset>
					{{> afQuickField name='localTitle'}}
					{{> afQuickField name='orgTitle'}}
					{{> afQuickField name='year'}}
					{{> afQuickField name='genre' options='allowed'}}
					{{> afQuickField name='disc_type' options='allowed'}}
					{{> afQuickField name='desc' rows=6}}
					{{#with currentUpload}}
	    				Uploading <b>{{file.name}}</b>: 
	    				<span id="progress">{{progress.get}}%</span>
	  				{{else}}
	    				<input id="fileInput" type="file" />
	  				{{/with}}
				</fieldset>
				<button type="submit" class="btn btn-primary">Insert</button>
			{{/autoForm}}			
		</div>
	</div>	
</template>