/*btn-primary #337ab7*/

body {
	background-image: url('/img/background.png'); /* Background pattern from subtlepatterns.com */
	color: #ccc;
	padding-top: 70px;
}
blockquote {
	margin-bottom: 0;
}
dl {
	background-color: #ccc;
	border-radius: 5px;
	border: 2px solid #337ab7;
	color: #111;
	padding: 8px;
}
.rating {
	background-color: #ccc;
	border-radius: 5px;
	border: 2px solid #337ab7;
	color: #111;
	padding: 10px;
}
.rating-text {
	padding-top: 5px;
	padding-left: 20px;
}
.title {
	font-weight: bold;
}
.film-list {
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px; 
	padding-bottom: 10px;
}
.film-poster {
	margin: 15px;
	width: 100%;
	height: 100%;
}
.label-disc {
	display: inline-block;
	font-size: 16px;
	margin-top: 20px;
}
.navbar-right {
	margin-right: 150px;
}
.comment {
	background-color: #ccc;
	border-radius: 5px;
	color: #111;
	list-style-type: none;
	padding: 8px;
}
.glyphicon-trash,
.glyphicon-pencil {
	cursor: pointer;
}