<template name="filmInfo">

	{{#with film}} <!-- with creates this -->
	{{#if editMode}}	<!-- Edit Mode ON -->
		<div class="col-md-12">
			<div class="row">
				<div class="col-xs-10">
					<h3>Edit Film</h3>
				</div>
				<div class="col-xs-2">
					<br>
					<button type="button" class="btn btn-primary return pull-right">Powrót</button>
				</div>
			</div>		
			
			{{#autoForm collection="Films" doc=this id="updateFilm" type="update" validation="keyup"}}
				<fieldset>
					{{> afQuickField name='localTitle'}}
					{{> afQuickField name='orgTitle'}}
					{{> afQuickField name='year'}}
					{{> afQuickField name='genre' options='allowed'}}
					{{> afQuickField name='disc_type' options='allowed'}}
					{{> afQuickField name='desc' rows=6}}
					{{> afQuickField name='imageId'}}

					{{#with updateImage}} 	
	    				Uploading <b>{{file.name}}</b>: 
	    				<span id="progress">{{progress.get}}%</span>
	  				{{else}}
	    				<input id="fileInput" type="file" />
	  				{{/with}}
	  				<br>
				</fieldset>
				<div class="btn-group pull-right" role="group" aria-label="UI buttons">
					<button type="submit" class="btn btn-primary">Zapisz</button>	
					<button type="button" class="btn btn-primary editMode">Anuluj</button>
				</div>	
			{{/autoForm}}			
		</div>											
	{{else}} <!-- Edit Mode OFF -->
		<br>
		<div class="row">
			<div class="col-md-4 col-sm-5">
				<img class="center-block" src="{{imagePath imageId}}" width="300" alt="film poster">
			</div>
			<div class="col-md-8 col-sm-7">
				<button type="button" class="btn btn-primary pull-right return">Powrót</button>
				<h2>{{localTitle}}</h2>
				<h4>{{orgTitle}}</h4>
				<p>{{year}} {{yearsAgo year}}</p>
				<p>{{disc_type}}</p>
				<p>{{image}}</p>
				<p>{{formatDate createdAt}}</p>
				<p>{{genre}}</p>
				<p>{{desc}}</p>
				<div class="col-sm-6">
					{{> rating}}
				</div>
			</div>
		</div>
			<br>	
		<div class="row">
			<div class="col-md-12">
				<p>{{desc}}</p>
				<div class="btn-group pull-right" role="group" aria-label="UI buttons">
				  <button type="button" class="btn btn-primary">Opcje</button>
				  <button type="button" class="btn btn-primary editMode">Edytuj</button>
				  <button type="button" class="btn btn-primary deleteFilm"><i class="glyphicon glyphicon-trash"></i> Usuń film</button>
				</div>	
			</div>
		</div>
		{{> posts}}
	{{/if}}					
	{{/with}}
</template>