<template name='settings'>
	<div class="col-lg-12 col-md-10 col-md-offset-1">
	<!-- RATINGS -->
	<h3>Twoje oceny</h3>
	{{#each ratings}}
		<ul class="rating list-unstyled">
			<li>
				<div class="row">
					<div class="col-md-10 rating-text">
						<span class="title">{{whichFilm filmId}}</span> - {{rating}}
					</div>
					<div class="col-md-2">
						<a href="/rating/{{id}}"><button class="btn btn-primary pull-right edit">Zmień</button></a>
					</div>
				</div>
			</li>
		</ul>	
	{{/each}}
	<hr>
	<!-- POSTS -->
	<h3>Twoje posty</h3>	
	{{#each posts}}
		<ul class="rating list-unstyled">
			<li>
				<div class="row">
					<div class="col-md-10 rating-text">
						<p class="title">{{whichFilm filmId}}</p>
						<p>{{comment}}</p>
					</div>
					<div class="col-md-2">
						<a href="/post/{{id}}"><button class="btn btn-primary pull-right">Zmień</button></a>
					</div>
				</div>			
			</li>
		</ul>
	{{/each}}		
	</div>	

</template>